<template>
  <div class="page admin-code-new">
    <layout-the-page-heading title="Créer un nouveau code" />
    <form class="container">
      <div class="inputs">
        <input type="number" v-model="credit">
        <input type="text" v-model="name">
      </div>
      <custom-button class="primary orange" content="génerer un code"  @clickButton="generateCode" />
      <p class="admin-code__copy" v-if="code">{{ code }}</p>
    </form>
  </div>
</template>

<style lang="scss" src="./new.scss"></style>
<script>
export default {
  data() {
    return {
      code: undefined,
      credit: 0,
      name: "Nom Prénom"
    }
  },
  methods: {
    async generateCode() {
      this.code = await this.$atelierboussole.createCode({
        payload: {
          credit: this.credit,
          name: this.name
        }
      })
    },

    copy() {
      navigator.clipboard.writeText(this.code)
    }
  }
}
</script>