.admin-code-new {
  form {
    display: flex;
    gap: 2rem;

    .inputs {
      display: flex;
      gap: 2rem;
    }
  }

  &__list {
    display: grid;
    gap: 2rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  &__copy {
    cursor: pointer;
  }

  &__attr {
    display: flex;
    gap: 2rem;

    span {
      font-weight: 600;
    }
  }
}