<template>
  <div class="page login">
    <layout-the-page-heading title="Login" />
    <form action="">
      <div class="login__input">
        <label for="">Email</label>
        <input type="text" name="" placeholder="Email" ref="email" />
      </div>
      <div class="login__input">
        <label for="">Mot de passe</label>
        <input
          type="password"
          name=""
          placeholder="Mot de passe"
          ref="password"
        />
      </div>
      <div class="login__actions">
        <custom-button
          type="primary orange"
          content="Me connecter"
          @clickButton="login"
        />
        <p @click="resetPassword">Mot de passe oublié</p>
      </div>
    </form>
    <p ref="message"></p>
  </div>
</template>

<style lang="scss">
.login {
  form {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: 100%;
    max-width: 40rem;

    > * {
      width: 100%;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;

    p {
      margin: 0;
      cursor: pointer;
    }
  }
}
</style>

<script>
export default {
  layout: 'no-login',
  data() {
    return {
      user: undefined,
    };
  },
  methods: {
    async login() {
      const res = this.$admin.login({
        email: this.$refs.email.value,
        password: this.$refs.password.value,
      });
      res
        .then((user) => {
          user.user.email && this.$router.push("/");
        })
        .catch((err) => {
          this.$refs.message.innerHTML = "Mauvais identifiants";
        });
    },

    async resetPassword() {
      const res = this.$admin
        .resetPassword(this.$refs.email.value)
        .then((r) => {
          this.$refs.message.innerHTML = r;
        });
    },
  },
};
</script>