<template>
  <div class="order-card">
    <div>
      <p>{{ id }}</p>
      <p>{{ data[1].mail }}</p>
      <p>{{ data[1].duration }}h</p>
      <p class="completed" v-if="data[1].completed === true">Complétée</p>
      <p class="not-completed" v-else>En cours...</p>
    </div>
  </div>
</template>

<script>
import BinIcon from '../../../assets/img/trash.svg?inline'
export default {
  components: {
    BinIcon
  },
  data() {
    return {
      id: undefined
    }
  },
  props: ['data'],
  mounted() {
    this.id = this.data[0]
  }
}
</script>

<style lang="scss">
.order-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem 3rem;
  background-color: var(--grey-light);
  border-radius: 3px;
  position: relative;

  >div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    text-decoration: none;
    color: black;

    > * {
      width: 25%
    }
  }

  &__delete {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    margin: 0;
    padding: 1rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: background-color 0.1s var(--easing--primary);

    &:hover {
      background-color: var(--orange--light);

      svg {
        stroke: var(--orange--dark)
      }
    }

    svg {
      height: 100%;
      transition: stroke 0.1s var(--easing--primary);
    }
  }

  p {
    margin: 0;
  }

  .completed, .not-completed {
    padding: 1rem 2rem;
    border-radius: 3px;
    width: fit-content;
  }

  .completed {
    background-color: var(--green--light);
    color: var(--green-dark);
  }

  .not-completed {
    background-color: var(--orange--wait);
    color: var(--orange--dark)
  }
}
</style>