<template>
  <footer class="footer">
    <div class="footer__container container">
      <div class="footer__menu">
        <p class="footer__subtitle">Le site</p>
        <ul>
          <li><nuxt-link to="/">Accueil</nuxt-link></li>
          <li><nuxt-link to="/qui-sommes-nous">Qui sommes-nous ?</nuxt-link></li>
          <li><nuxt-link to="/reservation">Reservation</nuxt-link></li>
          <li><nuxt-link to="/ateliers">Ateliers</nuxt-link></li>
          <li><nuxt-link to="/actualités">Actualités</nuxt-link></li>
          <li><nuxt-link to="">Contactez-nous</nuxt-link></li>
        </ul>
      </div>
      <div class="footer__infos">
        <p class="footer__subtitle">Informations</p>
        <ul>
          <li><nuxt-link to="">Mentions légales</nuxt-link></li>
          <li><nuxt-link to="">Conditions générales de vente</nuxt-link></li>
        </ul>
      </div>
      <div class="footer__contact">
        <p class="footer__subtitle">Contact</p>
        <ul>
          <li>
            <a href="mailto:contact@atelierboussole.com"
              >contact@atelierboussole.com</a
            >
          </li>
          <li><a>07 60 42 93 66 - 06 66 41 30 23</a></li>
          <div class="footer__contact__socials">
            <a href=""><Facebook /></a>
            <a href=""><Instagram /></a>
          </div>
        </ul>
      </div>
    </div>
    <div class="subfooter container">
      <p class="copyright">Copyright 2022</p>
      <a class="developer" href="https://etiennemoureton.fr" target="_blank"
        >Réalisé avec ❤️ par Etienne Moureton</a
      >
    </div>
  </footer>
</template>

<script lang="js" src="./thefooter.js"></script>
<style lang="scss" src="./thefooter.scss"></style>
