.footer {
  background-color: var(--grey-light);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;

  &__container {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 4rem 6rem;
    gap: 4rem 6rem;
    grid-template-areas: ". . .";

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
      grid-template-areas: ".";
    }

    ul {
      padding: 0;

      li {
        list-style-type: none;
        margin-bottom: 0.5rem;

        a {
          text-decoration: none;
          font-size: 1.4rem;
          color: var(--grey-dark);
          transition: color 0.2s var(--easing--primary);
        }
      }
    }
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__contact {
    &__socials {
      margin-top: 1rem;
      display: flex;
      gap: 1rem;

      a {
        display: flex;

        svg {
          stroke: black;
        }
      }
    }
  }

  .subfooter {
    display: flex;
    justify-content: space-between;

    a,
    p {
      color: black;
      opacity: 0.5;
      font-size: 1.2rem;
    }

    .copyright {
      margin: 0;
    }

    .developer {
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    a {
      text-decoration: none;
    }
  }
}
