<template>
  <div class="page admin-code">
    <layout-the-page-heading :title="this.$route.params.uid" />
    <div v-if="code" class="container admin-code__attr">
      <p><span>Utilisateur</span> : {{ code.name }}</p>
      <p><span>Crédit</span> : {{ code.credit }}h / {{totalHours}}h</p>
    </div>

    <div v-if="orders" class="container">
      <h2 class="heading--small">Rendez-vous <span>({{ orders.length }})</span></h2>
      <div class="admin-order__list">
         <admin-order-card :data="item" v-for="item in orders" :key="item"/>
      </div>
    </div>
  </div>
</template>

<style lang="scss" src="./code.scss"></style>
<script>
export default {
  data() {
    return {
      code: undefined,
      orders: undefined,
      totalHours: 0
    }
  },
  methods: {
    copy() {
      navigator.clipboard.writeText(this.code)
    }
  },

  async mounted() {
    this.code = await this.$atelierboussole.getCode({code: this.$route.params.uid})
    this.orders = await this.$atelierboussole.getOrdersByCode({code: this.$route.params.uid})

    this.getTotalCredit()
  },

  methods: {
    getTotalCredit() {
      this.orders.forEach(order => {
        this.totalHours += parseInt(order[1].duration)
      });
      this.totalHours += parseInt(this.code.credit)
    }
  }
}
</script>