<template>
  <div class="page admin-code">
    <layout-the-page-heading :title="`Tous les codes`"/>
    <section class="container">
      <p v-if="codes">{{ codes.length }} codes au total</p>
      <div class="admin-code__list">
        <admin-code-card :data="item" v-for="item in codes" :key="item"/>
      </div>
    </section>
    
  </div>
</template>

<style lang="scss" src="./code.scss"></style>
<script>
export default {
  data() {
    return {
      codes: undefined,
      code: undefined,
      credit: 0,
      name: "Nom Prénom"
    }
  },
  async mounted() {
    this.codes = await this.$atelierboussole.listCodes()
  },
  methods: {
    async generateCode() {
      this.code = await this.$atelierboussole.createCode({
        payload: {
          credit: this.credit,
          name: this.name
        }
      })
      this.codes = await this.$atelierboussole.listCodes()
    },

    copy() {
      navigator.clipboard.writeText(this.code)
    }
  }
}
</script>