<template>
  <header ref="header">
    <div class="header-container container">
      <nuxt-link class="logo" to="/">
        <img src="~/assets/img/logo-with-text.svg" />
      </nuxt-link>
      <ul class="menu-desktop" ref="mainMenu">
        <li><nuxt-link to="/">Accueil</nuxt-link></li>
        <li><a v-if="logged" @click="logout">Déconnexion</a></li>
      </ul>
      <label for="check" id="menu-handler">
        <input type="checkbox" id="check" @click="toggle" />
        <span></span>
        <span></span>
        <span></span>
      </label>
      <div class="menu-mobile" :class="{ open: menuOpened }">
        <ul>
          <li><nuxt-link to="/">Accueil</nuxt-link></li>
        </ul>
      </div>
    </div>
    <div class="subheader" ref="subheader">
      <div class="subheader__container" @click="backToTop">
        <p><ChevronUp />Back to top</p>
      </div>
    </div>
  </header>
</template>

<script lang="js" src="./theheader.js"></script>
<style lang="scss" src="./theheader.scss"></style>
