:root {
  --orange--light: #ffcdb6;
  --orange--dark: #fb6c29;
  --orange--wait: #ffdb99;
  --red-dark: #fb472a;
  --grey-light: #f9f9f9;
  --grey-dark: rgba(0, 0, 0, 0.7);
  --padding--body: 4rem;
  --green--light: #99ff99;
  --green-dark: #007600;
  --blue--dark: #6FA7F3;
  --blue--light: #DFF1FF;
  --easing--primary: cubic-bezier(0.22, 0.61, 0.36, 1);
}
