html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 15rem;
  scroll-behavior: smooth;

  body {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    .page-wrapper {
      width: 100%;
      height: 100%;
    }

    &.no-scroll {
      overflow-y: hidden;
    }
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  width: 100%;
  min-height: 100vh;

  &:not(.homepage) {
    padding-top: 150px;
  }
}

.container {
  padding: 5rem var(--padding--body);
  width: 144rem;
  max-width: 100vw;

  &.container--large {
    padding: 5rem calc(var(--padding--body) / 2);
    width: 154rem;
  }

  &.container--small {
    width: 100rem;
  }

  @media screen and (max-width: 1000px) {
    padding: var(--padding--body);
  }
}

p,
a,
span,
strong {
  font-size: 1.4rem;
}

* {
  box-sizing: border-box;
}

.label {
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.8;
}

.heading {
  font-size: 3rem;
  color: black;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;

  &--small {
    font-size: 4rem;
    color: #464646;
    letter-spacing: -0.1rem;
    margin: 0 0 6rem 0;

    h2,
    h3,
    h4 {
      font-size: 4rem;
      color: #464646;
      margin: 0;
      position: relative;

      &::after {
        content: "";
        height: 0.2rem;
        width: 5rem;
        background-color: #fb6c29;
        background-color: var(--orange--dark);
        position: absolute;
        left: 0;
        bottom: -1rem;
      }

      @include media-breakpoint-down(md) {
        font-size: 3rem;
      }
    }

    @include media-breakpoint-down(md) {
      font-size: 3rem;
    }
  }
}

.poppins {
  font-family: "Poppins";
}

.input-with-icon {
  padding: 1.5rem 2rem;
  border-radius: 3px;
  border: none;
  background-color: #f9f9f9;
  background-color: var(--grey-light);
  display: flex;
  align-items: center;
  gap: 2rem;

  input {
    padding: 0 !important;
    border-radius: 0;
    background-color: transparent;
    width: 100%;
    outline: none;
  }

  svg {
    path {
      fill: var(--grey-dark);
    }
  }

  &.white {
    background-color: white;
  }

  &.small {
    padding: 1rem 1.3rem;
    gap: 1rem;

    svg {
      height: 15px;
    }
  }
}

input {
  padding: 1.5rem 2rem;
  border-radius: 3px;
  border: none;
  background-color: var(--grey-light);
}