<template>
  <div class="page-wrapper">
    <layout-the-header logged="true" />
    <Nuxt />
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: undefined,
    };
  },

  middleware(context) {
    console.log(context)
    if (!context.$admin.auth.currentUser) {
      return context.redirect("/login");
    }
  },

  methods: {
    async login() {
      this.user = await this.$admin.login({
        email: this.$refs.email.value,
        password: this.$refs.password.value,
      });
    },
  },
};
</script>