<template>
  <div class="page-wrapper error">
    <div class="page error__wrapper container">
      <h1>{{ error.statusCode }}</h1>
      <p>
        Oups, il semblerait que la page que vous cherchez n'existe pas... On va
        regarder ça de plus près, mais en attendant, vous pouvez revenir
        directement à la page d'accueil.
      </p>
      <custom-button
        class="cta"
        type="primary orange"
        content="Retour à la page d'accueil"
        to="/"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: ["error"],
  layout: "error", // you can set a custom layout for the error page
};
</script>

<style lang="scss">
.error {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &.page {
      padding-top: 0;
    }

    > * {
      max-width: 500px;
    }

    h1 {
      font-size: 6rem;
      color: var(--orange--dark);
      margin: 0;
    }

    p {
      margin: 1rem 0;
      text-align: center;
    }

    .cta {
      margin-top: 2rem;
    }
  }
}
</style>
