<template>
  <div class="page-wrapper">
    <layout-the-header />
    <Nuxt />
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: undefined,
    };
  },

  methods: {
    async login() {
      this.user = await this.$admin.login({
        email: this.$refs.email.value,
        password: this.$refs.password.value,
      });
    },
  },
};
</script>