<template>
  <div class="page admin">
    <layout-the-page-heading title="Espace d'administration" />
    <section class="admin__menu container">
      <ul>
        <nuxt-link to="/code">Voir les codes</nuxt-link>
        <nuxt-link to="/code/new">Créer un code</nuxt-link>
      </ul>
    </section>
  </div>
</template>

<style lang="scss">
.admin {
  &__menu {
    ul {
      width: 100%;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      padding: 0;
      margin: 0;

      a {
        color: black;
      }
    }
  }
}
</style>