<template>
  <a :class="'btn ' + type" :href="to" @click="$emit('clickButton')">
    <p>{{ content }}</p>
  </a
  >
</template>

<script lang="js" src="./custombutton.js"></script>
<style lang="scss" src="./custombutton.scss"></style>
