<template>
  <div class="loader lds-ring">
    <div ref="loader"></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</template>
<script lang="js" src="./loader.js"></script>
<style lang="scss" src="./loader.scss"></style>
